<html ng-app="ionicApp">

	<head>
		<meta charset="utf-8" id="device_id">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

		<title>HomeLink</title>
		<script>
			var Item_ID;
		</script>
  <link href="http://api.easylink.io/bower_components/ionic/css/ionic.min.css" rel="stylesheet">
  <script src="http://api.easylink.io/bower_components/ionic/js/ionic.bundle.min.js"></script>
	<script type="text/javascript" src="js/new_file2.js"></script>
	</head>

	<body ng-controller="MyCtrl">
		<ion-header-bar class="bar-positive">
		<div class="buttons">
    	<button class="button button-icon icon ion-ios-minus-empty"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
  	</div>
			<h1 class="title">云灯控制</h1>
		<div class="buttons">
    	<button class="button button-icon icon ion-ios-plus-empty" 
    		ng-click="showPopup_Add()"></button>
    	<button class="button button-icon icon ion-ios-drag" 
    		ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></button>
  	</div>
		</ion-header-bar>
		<ion-content>
			<ion-refresher on-refresh="doRefresh()"
			               pulling-text="Pull to refresh..." 
			               refreshing-text="Refreshing!"
			               refreshing-icon="ion-loading-b">
				
			</ion-refresher>
			<ion-list can-swipe="listCanSwipe"  show-delete="data.showDelete" show-reorder="data.showReorder">		
				<ion-item ng-repeat="item in items" ng-click="CtrlDevice(item)">					
					<i ng-if="item.light_state==1" class="button-icon icon ion-ios-lightbulb positive">&nbsp&nbsp&nbsp{{item.light_alias}}</i>
					<i ng-if="item.light_state==0" class="button-icon icon ion-ios-lightbulb dark">&nbsp&nbsp&nbsp{{item.light_alias}}</i>
					
					<ion-delete-button class="ion-ios-minus" ng-click="showPopup_Delete(item)"></ion-delete-button>
					<ion-option-button class="button-dark" ng-click="showPopup_Edit(item)">
					编辑
					</ion-option-button>
					<ion-option-button class="button-assertive" ng-click="MatchDevice(item)">
					配对
					</ion-option-button>
					<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
				</ion-item>
			</ion-list>
		</ion-content>

<script src="./js/mqttws31.js"></script>
<script src="./js/jquery-2.1.3.js"></script>
<script>

		var GB2312UnicodeConverter = {
	    ToUnicode: function (str) {
	        return escape(str).toLocaleLowerCase().replace(/%u/gi, '\\u');
	    }
	    , ToGB2312: function (str) {
	        return unescape(str.replace(/\\u/gi, '%u'));
	    }
		};

    // 从url中获取某个参数的值
    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
    }
    // 得到设备ID
    var device_id = getParameterByName('device_id');
    // 如果设备ID不为空，则执行连接MQTT的操作
    if ( device_id !== null ){
        ez_connect(device_id);
    }
  // function dump_obj(myObject) {
    //     var s = '';
    //     for (var property in myObject) {
    //         s += '<span>' + property +": " + myObject[property] + '</span>';
    //     }
    //     return s;
    // }

    // 连接MQTT服务
    function ez_connect(device_id) {
        // 获取access_token
        // access_token是公众号的全局唯一票据，公众号调用各接口时都需使用access_token。
        // 正常情况下access_token有效期为7200秒，重复获取将导致上次获取的access_token失效
        var access_token = getParameterByName('access_token');

        document.getElementById('device_id').innerHTML = device_id;

        // websocket连接
        // wsbroker:host
        // wsport:端口 默认1983
        // Client-ID ： v1_web_[MAC]  //版本号_app_手机MAC(必须是12位小写)
        var wsbroker = "api.easylink.io";  //mqtt websocket enabled broker
        var wsport = 1983 // port for above
        var client = new Paho.MQTT.Client(wsbroker, wsport, "v1-web-" + parseInt(Math.random() * 1000000, 12));

        // 基本参数配置
        // 连接丢失所对应的callback函数
        client.onConnectionLost = onConnectionLost;
        // 消息到达所对应的callback函数
        client.onMessageArrived = onMessageArrived;
        // 连接成功所对应的callback函数
        client.connect({onSuccess:onConnect});
      }

        // 连接成功
        function onConnect() {
            var subtopic = device_id+'/out/#';
            // Once a connection has been made, make a subscription and send a message.
            // 向某个通道发送指令
            // topic：通道
            // commond：指令
            client.publish = function(topic, commond) {
                message = new Paho.MQTT.Message(commond);
                message.destinationName = topic;
                client.send(message);
            }
            client.subscribe(subtopic, {qos: 0});
        }
        // 连接丢失
        function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0){
            }
        }
        // 消息到达
        function onMessageArrived(message) {
        }
        
        $(document).ready(function(){
					$(document).on("click",'ion-item',function(){  	
					  switch(Item_ID)
					  {
					  	case 1 : led_red();			break;
					  	case 2 : led_green();		break;
					  	case 3 : led_blue();		break;
					  	default : led_off();		break;
					  }
					});
				});
        function led_red() {
            var topic = device_id+'/in/write';
            var commond = '{"rgbled_switch":true,"rgbled_hues":0, "rgbled_saturation":100, "rgbled_brightness":100}'; 
            client.publish(topic, commond);
        }

        function led_green() {
            var topic = device_id+'/in/write';
            var commond = '{"rgbled_switch":true,"rgbled_hues":120, "rgbled_saturation":100, "rgbled_brightness":100}'; 
            client.publish(topic, commond);
        }

        function led_blue() {
            var topic = device_id+'/in/write';
            var commond = '{"rgbled_switch":true,"rgbled_hues":240, "rgbled_saturation":100, "rgbled_brightness":100}'; 
            client.publish(topic, commond);
        }        
        
        function led_off() {
            var topic = device_id+'/in/write';
            var commond = '{"rgbled_switch":false}'; 
            client.publish(topic, commond);
        }
//    }

</script>		
	</body>
</html>