<html ng-app="ionicApp">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

		<title>HomeLink</title>

		<link href="http://api.easylink.io/bower_components/ionic/css/ionic.css" rel="stylesheet">
		<script src="http://api.easylink.io/bower_components/ionic/js/ionic.bundle.js"></script>
		<script type="text/javascript" src="js/new_file2.js"></script>
		<link rel="stylesheet" type="text/css" href="css/new_file.css" />

	</head>

	<body ng-controller="MyCtrl">

		<ion-header-bar class="bar-positive">
			<h1 class="title">云灯控制</h1>
		</ion-header-bar>
        <!--ion-loading abcd四种效果-->        
		<ion-content>
			<ion-refresher on-refresh="doRefresh()"
			               pulling-text="Pull to refresh..." 
			               refreshing-text="Refreshing!"
			               refreshing-icon="ion-loading-b">
				
			</ion-refresher>
			<ion-list can-swipe="listCanSwipe"  show-delete="data.showDelete" show-reorder="data.showReorder">
				<ion-item ng-repeat="item in items">{{item}}
					<ion-option-button class="button-assertive" ng-click="showPopup(item)">
					Edit
					</ion-option-button>
				</ion-item>
			</ion-list>
		</ion-content>

	</body>

</html>